.guesser {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 1.5em;
  border-radius: 0.5em;
  background-color: limegreen;
}

.guesser > .guesser-task,
.guesser > input {
  margin: 0.2em 0.5em;
  padding: 0.2em 0.5em;

  border-radius: 0.5em;
  border-style: none;
  background-color: white;
}

.guesser button {
  margin: 0;
  padding: 0.2em 0.5em;

  font-size: 1.5em;
  border-radius: 0.5em;
  border-style: none;
  background-color: limegreen;
}
.guesser button:hover {
  background-color: lime;
}
